/* navigation section */
#navbar{
flex-direction: column;

}
#navbar ul li a{
    padding: 0px 7px;
    font-size: 1rem;
    /* left: 0px;
    top: 0px;
    right: 0px; */
    padding-bottom: 8px;

}

/* home section */
#home{
    height: 356px;
    padding: 3px 2px;
    align-items: center;
    text-align: center;
} 

#home::before{

    height: 400px;
    

}
#home p{
    align-items: center;
    text-align: center;
    font-size: 13px;

}
/* Services section */

#services{

    align-items: center;
    text-align: center;
    flex-direction: column;
}

#services .box{

}

/* Clients sections */

#clinet{
   flex-wrap: wrap;
}
#clinet img{
   
   
    width: 66px;
    padding: 2px 6px;
}

/* contact us section */
.btn{
    font-size: 13px;
    padding: 4px 8px ;

    align-items: center;
    
   

    
}


/* footer section */

/* utility classes */

.h-primary{
    font-size: 26px;
}